*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(146, 72, 72);
    padding-left:15px;
} 
ul{
    display: flex; 
    justify-content: center; 
    
}
li{
    padding: 15px;
    list-style: none;
    color:wheat
    
}
.shop{
    color: rgb(173, 102, 102);
}
nav   :hover{
    color: black;